# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives::**
- List popular languages for Data Science
- Mention commonly used libraries by data scientists.
- Create a table with a single column.
- Identify open-source tools used in Data Science.

#### Some of the popular languages that Data Scientists use are:
1. PYTHON
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. PANDAS
2. NUMPY
3. MATPLOTLIB

| Data Science Tools |
|----------------|
|Jupyter Notebook|
|Apache Spark    |
| RStudio        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [14]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
_ALEJANDRO CESPEDES ALARCON_